services:
  postgres:
    image: postgres:17-alpine
    ports:
      - '${DATABASE_PORT:-5432}:5432'
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME:-root}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-secret}
      POSTGRES_DB: ${DATABASE_NAME:-root}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U ${DATABASE_USERNAME:-postgres}']
      interval: 5s
      retries: 5
      start_period: 10s

  mailcatcher:
    image: sj26/mailcatcher:latest
    ports:
      - '1080:1080'
      - '1025:1025'

  adminer:
    image: adminer:latest
    ports:
      - '8080:8080'

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '${APP_PORT:-3001}:${APP_PORT:-3001}'
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
      mailcatcher:
        condition: service_started
    volumes:
      - ./src:/usr/src/app/src
      - ./test:/usr/src/app/test
    command: npm run start:prod

volumes:
  postgres_data:
